.chat-col {
    right: -100vw;
    bottom: 0;
    top: 40.5px;
    z-index: 1000;
    position: fixed;
    color: #fff;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 40px;
    padding-top: 15px;
    min-height: 100vh;
}

body {
    background-color: #ececec;
}

.card {
    background-color: #ececec;
    border: 2px solid;
    max-height: 62vh;
    width: 100%;
    left: 30px;
}

.chat-col.chat-opened {
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}

#chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat-box {
    bottom: 0px;
    right: 0;
    position: absolute;
    border: 0;
    border-top: 1px groove white;
    border-left: 1px groove white;
    font-size: small;
}

.chat-box::placeholder {
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}

.chat-box,
.chat-box:focus {
    resize: none !important;
    box-shadow: none !important;
}

.chat-row {
    height: 100%;
    overflow-x: scroll;
}

.main {
    padding-top: 40px;
}

.remote-video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

.remote-video-controls {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300000;
    padding: 10px;
    width: 100%;
    text-align: center;
    visibility: hidden;
}

/* .remote-video:hover+.remote-video-controls,
.remote-video-controls:hover {
    visibility: visible;
} */

.local-video {
    bottom: 10px;
    left: 30px;
    position: fixed;
    width: 25vh;
    border-radius: 10px;
    border: #000 2px solid;
}

.mirror-mode {
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.sender-info {
    font-size: smaller;
    margin-top: 5px;
    align-self: flex-end;
}

.msg {
    font-weight: 400;
    font-size: 12px;
    color: black;
    background-color: wheat;
}

.chat-card {
    border-radius: 6px;
}

.btn-no-effect:focus {
    box-shadow: none;
}

.very-small {
    font-size: 6px !important;
}

#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}

.pointer {
    cursor: pointer;
}

.record-option{
    height: 200px;
    border-radius: 10%;
    border: 1px solid #17a2b8;
    cursor: pointer;
    padding: 10px;
    vertical-align: middle;
}


.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
    width: 80%;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@media only screen and (max-width:767px) {
    .chat-col {
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    }

    .chat-opened::-webkit-scrollbar {
        display: none;
    }

    #chat-messages {
        height: 60vh;
    }

    .chat-box {
        bottom: 90px;
        margin-bottom: 0px;
    }

    .card-sm {
        max-width: 100%;
        min-width: 50%;
    }

    .local-video {
        width: 40vw;
    }
}

@media (min-width:768px) {
    .card {
        width: 50%;
        z-index: 1000;
    }
}

/* UI */

#new-nav i {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-repeat: no-repeat;
    background-size: 24px;
    border: none;
    height: 40px;
    /* margin: 0 8px; */
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
        0 24px 20px -24px rgba(71, 82, 107, 0.1);
    border-radius: 8px;
    width: 60px;
    cursor: pointer;
    outline: none;
    background-color: #fff !important;
    font-size: 30px !important;
    color: #000 !important;
}

/* .new-nav button:nth-child(6) {
                            background-color: white;
                            width: 200px !important;
                        } */

#chat-pane {
    background-color: #fff !important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 72px) !important;
}

.chat-header {
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;
}

.chat-header-button {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M479.9 187.52l-90.19 68.53v-52.6a20 20 0 00-20-20H20a20 20 0 00-20 20V492a20 20 0 0020 20h349.71a20 20 0 0020-20v-52.6l90.18 68.52c13.05 9.91 32.1.67 32.1-15.92V203.45c0-16.5-18.94-25.92-32.1-15.93zM349.7 472H40V223.45h309.71zM472 451.68l-82.29-62.53V306.3L472 243.77zM87.96 79.24C129.62 28.88 190.86 0 256 0c65.13 0 126.37 28.88 168.03 79.24a20 20 0 01-30.82 25.5A177.6 177.6 0 00256 40a177.6 177.6 0 00-137.21 64.73 20 20 0 11-30.83-25.5zm240.36 32.21a20 20 0 11-21.02 34.03 97.57 97.57 0 00-51.3-14.53 97.6 97.6 0 00-51.31 14.53 20 20 0 11-21.02-34.03A137.53 137.53 0 01256 90.95c25.59 0 50.6 7.09 72.32 20.5zm0 0'/%3E%3C/svg%3E%0A");
    background-color: var(--main-color);
    padding: 12px 16px 12px 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center left 12px;
    background-size: 16px;
    font-size: 14px;
}

#chat-box-name {
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;
}

.chat-header-button {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M479.9 187.52l-90.19 68.53v-52.6a20 20 0 00-20-20H20a20 20 0 00-20 20V492a20 20 0 0020 20h349.71a20 20 0 0020-20v-52.6l90.18 68.52c13.05 9.91 32.1.67 32.1-15.92V203.45c0-16.5-18.94-25.92-32.1-15.93zM349.7 472H40V223.45h309.71zM472 451.68l-82.29-62.53V306.3L472 243.77zM87.96 79.24C129.62 28.88 190.86 0 256 0c65.13 0 126.37 28.88 168.03 79.24a20 20 0 01-30.82 25.5A177.6 177.6 0 00256 40a177.6 177.6 0 00-137.21 64.73 20 20 0 11-30.83-25.5zm240.36 32.21a20 20 0 11-21.02 34.03 97.57 97.57 0 00-51.3-14.53 97.6 97.6 0 00-51.31 14.53 20 20 0 11-21.02-34.03A137.53 137.53 0 01256 90.95c25.59 0 50.6 7.09 72.32 20.5zm0 0'/%3E%3C/svg%3E%0A");
    background-color: #3d42df;
    padding: 12px 16px 12px 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center left 12px;
    background-size: 16px;
    font-size: 27px;
}

#typing-area {
    display: flex;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
        0 24px 20px -24px rgba(71, 82, 107, 0.1);
    background-color: #f3f4f9 !important;
}

#chat-input {
    border: none;
    font-size: 14px;
    line-height: 24px;
    outline: none;
    color: #2c303a !important;
    flex: 1;
    background-color: transparent !important;
}

#chat-input::placeholder {
    color: #a2a4bc !important;
}


#send-button {
    color: #fff !important;
    background-color: #3d42df !important;
    border-radius: 8px;
    border: none;
    width: 60px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-room{
    background-color: #3d42df !important;

}

#enter-room{
    background-color: #3d42df !important;

}

#video-position video {
    margin-top: 100px !important;
    position: relative;
    width: 300px;
}

#logoimg{
    height: 80px;
}